/UncollapsedSampler/x64/Debug/*.obj
/UncollapsedSampler/x64/Debug/Uncollap.4BD86494.tlog/*.tlog
/UncollapsedSampler/x64/Debug/*.log
/UncollapsedSampler/x64/Debug/*.cache
/UncollapsedSampler/x64/Release/*.obj
/UncollapsedSampler/x64/Release/*.sbr
/UncollapsedSampler/x64/Release/Uncollap.4BD86494.tlog/*.tlog
/UncollapsedSampler/x64/Release/Uncollap.4BD86494.tlog/*.lastbuildstate
/UncollapsedSampler/x64/Release/*.log
/UncollapsedSampler/x64/Release/*.cache
/UncollapsedSampler/x64/Release/*.pdb
/*.labels
/*.likelihood
/*.rest
/run/experiments/mnist/*.matrix
/run/experiments/mnist/*.labels
/run/experiments/parallel/*.matrix
/run/experiments/parallel/*.labels
/run/experiments/parallel/*.likelihood
/run/experiments/parallel/coords_ryan/plots/*.eps
/run/experiments/parallel/*.rest
/run/experiments/parallel/*.bin
/run/experiments/parallel/*.log
/run/experiments/parallel/mnist/*.matrix
/run/experiments/parallel/mnist/*.labels
